<div class="w-100 bg-info p-2">
  <h3 class="text-white">Pointing Poker</h3>
</div>
<div class="container-fluid mt-2">
  <ng-container *ngIf="!room">
    <app-create-poker-room (roomCreated)="joinRoom($event)"></app-create-poker-room>
    <hr>
    <app-poker-rooms (roomJoined)="joinRoom($event)"></app-poker-rooms>
  </ng-container>
  <ng-container *ngIf="room">
    <app-poker-room [room]="room" [user]="user"></app-poker-room>
    <hr>
    <button (click)="leaveRoom()" type="submit" class="btn btn-info pull-right">Leave</button>
  </ng-container>
</div>