<h4 class="text-info">Rooms</h4>
<ng-container *ngIf="rooms.length">
  <input [(ngModel)]="name" type="text" class="form-control" style="width:250px;" placeholder="Your Name">
  <ul class="list-group">
    <li *ngFor="let room of rooms" class="list-group-item border-0">
      <div class="form-inline">
        <input type="text" readonly class="form-control form-control-plaintext font-weight-bold text-info mr-1" [value]="room.name">
        <button (click)="joinRoom(room.id)" [disabled]="name.length < 1" type="submit" class="btn btn-info">Join Room</button>
      </div>
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="!rooms.length">
  <h5 class="text-info ml-3">There are currently no rooms.</h5>
</ng-container>
