<div class="row">
  <div class="col col-4">
    <h4 class="text-info">{{room.name}}</h4>
    <div class="d-flex justify-content-center">
      <ul class="list-group d-inline-block">
        <li class="list-group-item border-0 p-1">
            <button (click)="vote(0)" style="width:55px" type="submit" class="btn btn-info">0</button>
            <button (click)="vote(0.5)" style="width:55px" type="submit" class="btn btn-info">1/2</button>
            <button (click)="vote(1)" style="width:55px" type="submit" class="btn btn-info">1</button>
            <button (click)="vote(2)" style="width:55px" type="submit" class="btn btn-info">2</button>
        </li>
        <li class="list-group-item border-0 p-1">
            <button (click)="vote(3)" style="width:55px" type="submit" class="btn btn-info">3</button>
            <button (click)="vote(5)" style="width:55px" type="submit" class="btn btn-info">5</button>
            <button (click)="vote(8)" style="width:55px" type="submit" class="btn btn-info">8</button>
            <button (click)="vote(13)" style="width:55px" type="submit" class="btn btn-info">13</button>
        </li>
        <li class="list-group-item border-0 p-1">
            <button (click)="vote(20)" style="width:55px" type="submit" class="btn btn-info">20</button>
            <button (click)="vote(40)" style="width:55px" type="submit" class="btn btn-info">40</button>
            <button (click)="vote(100)" style="width:55px" type="submit" class="btn btn-info">100</button>
            <button (click)="vote(null)" style="width:55px" type="submit" class="btn btn-info">?</button>
        </li>
      </ul>
      <div class="mt-2 mb-2 pl-1">
          <button type="submit" class="btn btn-info" *ngIf="user.isHost" (click)="toggleReveal()">Toggle Reveal</button>
          <button type="submit" class="btn btn-info" *ngIf="user.isHost" (click)="clearVotes()">Clear Votes</button>
      </div>
    </div>
  </div>
  <div class="col col-4">
    <table class="table table-striped">
      <thead>
        <th>Point</th>
        <th>Votes</th>
      </thead>
      <tbody *ngIf="!room.reveal">
        <tr >
          <td>Votes Currently Hidden.</td>
          <td></td>
        </tr>
      </tbody>
      <tbody *ngIf="room.reveal">
        <tr *ngFor="let vote of votes">
          <td>{{vote.vote === undefined ? 'undecided' : vote.vote === null ? '?' : vote.vote}}</td>
          <td>{{vote.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col col-4">
    <table class="table table-striped">
      <thead>
        <th>Person</th>
        <th>Vote</th>
      </thead>
      <tbody>
        <tr *ngFor="let roomUser of room.users">
          <td class="w-50 pt-1 pb-1">{{roomUser.name}}</td>
          <td class="w-50 pt-1 pb-1" *ngIf="roomUser.name === user.name">{{roomUser.vote === undefined ? 'Undecided' : roomUser.vote === null ? '?' :roomUser.vote}}</td>
          <td class="w-50 pt-1 pb-1" *ngIf="room.reveal && roomUser.name !== user.name">{{roomUser.vote === undefined ? 'Undecided' : roomUser.vote === null ? '?' : roomUser.vote}}</td>
          <td class="w-50 pt-1 pb-1" *ngIf="!room.reveal && roomUser.name !== user.name && roomUser.vote !== undefined">#</td>
          <td class="w-50 pt-1 pb-1" *ngIf="!room.reveal && roomUser.name !== user.name && roomUser.vote === undefined">Undecided</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
