<h4 class="text-info">Create Room</h4>
<div class="form-inline">
  <input [(ngModel)]="roomName" type="text" class="form-control mr-1" id="RoomName" placeholder="Room Name">
  <input [(ngModel)]="userName" type="text" class="form-control mr-1" id="HostName" placeholder="Host Name">
  <button (click)="createRoom()" type="submit" [disabled]="userName.length < 1 || roomName.length < 1" class="btn btn-info">Create Room</button>
</div>
